*.o
bin/*.gbc
bin/*.sym
bin/*.map
*.sgm
*.srm
*.sav
*.rtc
TODO.txt
*.tmp
*.state
*.ls*
*.sn*
*.time
*.clk
dependencies.zip
7za.exe
libiconv2.dll
libintl3.dll
make.exe
msvcp60.dll
msvcrt.dll
sound/*.bak
tools/img2tileset/build
tools/img2tileset/dist
tools/img2tileset/*.log
*.spec